# .github/workflows/dependency-graph.yml
name: Update Dependency Graph

on:
  push:
    branches:
      - main # default branch of the project

jobs:
  dependency-graph:
    name: Update Dependency Graph
    runs-on: ubuntu-latest
    env:
      JAVA_OPTS: -Xmx5G
    steps:
      - uses: actions/checkout@v6
      - uses: sbt/setup-sbt@v1
      - uses: scalacenter/sbt-dependency-submission@v3
        with:
          ## Optional: Define the working directory of your build.
          ## It should contain the build.sbt file.
          working-directory: './'
          configs-ignore: scala-tool scala-doc-tool
