name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '21', '25' ]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24
    - name: Set up Java
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: ${{ matrix.java }}
    - uses: sbt/setup-sbt@v1
    - name: Run JVM tests
      run: sbt "project backends3" test -J-Xmx5G
    - name: Run JS tests
      run: sbt "project backendsJS3" compile -J-Xmx5G; sbt "project backendsJS3" test -J-Xmx5G
